body{
    font-family:'Mononoki', monospace;
    text-align:center;
    padding: 20px;
}
#score{
    font-size: 18px;
    margin: 20px 0;
}
button{
    padding: 10px 20px;
    font-size: 15px;
    cursor:pointer;
}